server:
  controllers:
    main:
      containers:
        main:
          env:
            - name: DB_HOSTNAME
              valueFrom:
                secretKeyRef:
                  name: immich-database-app
                  key: host
            - name: DB_USERNAME
              valueFrom:
                secretKeyRef:
                  name: immich-database-app
                  key: user
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: immich-database-app
                  key: password
            - name: DB_DATABASE_NAME
              valueFrom:
                secretKeyRef:
                  name: immich-database-app
                  key: dbname

valkey:
  enabled: true

immich:
  persistence:
    library:
      existingClaim: immich-library-pvc
