{{- $name := .Values.immich.persistence.library.existingClaim | required ".Values.immich.persistence.library.existingClaim is required." -}}
{{- if not (kindIs "string" $name) -}}{{- fail ".Values.immich.persistence.library.existingClaim must be a string" -}}{{- end -}}

{{ if hasKey .Values "postgresql" }}
    {{ fail "The postgres subchart has been removed. Please see https://github.com/immich-app/immich-charts/releases/tag/immich-0.10.0 for more detail." }}
{{ end }}

{{ if hasKey .Values "redis" }}
    {{ fail "The redis subchart has been removed. Please see https://github.com/immich-app/immich-charts/releases/tag/immich-0.10.0 for more detail."}}
{{ end }}

{{- if and (ne .Values.immich.configurationKind "Secret") (ne .Values.immich.configurationKind "ConfigMap") }}
    {{- fail "Invalid immich.configurationKind: must be either 'ConfigMap' or 'Secret'" }}
{{- end }}

# Validate server.updateStrategy
{{- $serverUpdateStrategy := .Values.server.updateStrategy | default "RollingUpdate" -}}
{{- if not (kindIs "string" $serverUpdateStrategy) -}}
  {{- fail (printf "server.updateStrategy must be a string (got %serverUpdateStrategy)" (kindOf $serverUpdateStrategy)) -}}
{{- end -}}

{{- if not (has $serverUpdateStrategy (list "RollingUpdate" "Recreate")) -}}
  {{- fail (printf "server.updateStrategy must be either RollingUpdate or Recreate (got %q)" $serverUpdateStrategy) -}}
{{- end -}}
